---
import { Image } from 'astro:assets';
import { config } from '../data/config';
import logo from '../assets/images/Logo.svg';
import lumaIco from '../assets/images/social/luma-ico.svg';
import instagramIco from '../assets/images/social/instagram-ico.svg';
import linkedinIco from '../assets/images/social/linkedin-ico.svg';
---

<footer>
	<nav class="top-section reveal" role="navigation" aria-label="Footer navigacija">
		<div class="logo">
			<Image src={logo} alt="TVZ CareerDay logo" />
		</div>
		<div class="social-links">
			<a href={config.social.luma} target="_blank" rel="noopener" aria-label="Lu.ma">
				<Image src={lumaIco} alt="Lu.ma ikona" />
			</a>
			<a href={config.social.instagram} target="_blank" rel="noopener" aria-label="Instagram">
				<Image src={instagramIco} alt="Instagram ikona" />
			</a>
			<a href={config.social.linkedin} target="_blank" rel="noopener" aria-label="LinkedIn">
				<Image src={linkedinIco} alt="LinkedIn ikona" />
			</a>
		</div>
	</nav>

	<div class="bottom-section reveal">
		<p>Copyright © TVZ CareerDay All Rights Reserved</p>
	</div>
</footer>
