---
import { Image } from 'astro:assets';

const koncar = (await import('../assets/images/partners/koncar.svg')).default;
const janaf = (await import('../assets/images/partners/Janaf.svg')).default;
const spegra = (await import('../assets/images/partners/spegra.svg')).default;
const hup = (await import('../assets/images/partners/hup.svg')).default;
const hrMinistrarstvo = (await import('../assets/images/partners/HRMinistrarstvo.svg')).default;

const partners = [
	{ src: (await import('../assets/images/partners/strabag.svg')).default, alt: 'Strabag', url: 'https://www.strabag.hr/' },
	{ src: (await import('../assets/images/partners/hops.svg')).default, alt: 'HOPS', url: 'https://www.hops.hr/' },
	{ src: (await import('../assets/images/partners/zaba.svg')).default, alt: 'Zagrebačka banka', url: 'https://www.zaba.hr/home/en' },
	{ src: (await import('../assets/images/partners/Raiffeisen.svg')).default, alt: 'Raiffeisen', url: 'https://www.rba.hr/hr/gradani.html' },
	{ src: (await import('../assets/images/partners/kamgrad.svg')).default, alt: 'Kamgrad', url: 'https://www.kamgrad.hr/' },
	{ src: (await import('../assets/images/partners/Tekton.svg')).default, alt: 'Tekton', url: 'https://tekton-zg.hr/en/' },
	{ src: (await import('../assets/images/partners/Ina.svg')).default, alt: 'INA', url: 'https://www.ina.hr/' },
	{ src: (await import('../assets/images/partners/aba.svg')).default, alt: 'ABA', url: 'https://aba.gv.at/en/' },
	{ src: (await import('../assets/images/partners/montelektro.svg')).default, alt: 'Montelektro', url: 'https://www.montelektro.hr/' },
	{ src: (await import('../assets/images/partners/hkzp.svg')).default, alt: 'HKZP', url: 'https://www.crocontrol.hr/' },
	{ src: (await import('../assets/images/partners/amelicor.svg')).default, alt: 'Amelicor', url: 'https://amelicor.group/' },
	{ src: (await import('../assets/images/partners/knapp.svg')).default, alt: 'Knapp', url: 'https://www.knapp.com/' },
	{ src: (await import('../assets/images/partners/prva-banka.svg')).default, alt: 'Privredna banka', url: 'https://www.pbz.hr/en/gradjani' },
	{ src: (await import('../assets/images/partners/porsche.svg')).default, alt: 'Porsche Digital', url: 'https://www.porsche.digital/' },
	{ src: (await import('../assets/images/partners/tmobile.svg')).default, alt: 'T-Mobile', url: 'https://www.t-mobile.com/' },
	{ src: (await import('../assets/images/partners/Telelink.svg')).default, alt: 'Telelink', url: 'https://www.tbs.tech/' },
	{ src: (await import('../assets/images/partners/eccos.svg')).default, alt: 'Eccos', url: 'https://www.eccos.com.hr/' },
	{ src: (await import('../assets/images/partners/hep.svg')).default, alt: 'HEP', url: 'https://www.hep.hr/' },
	{ src: (await import('../assets/images/partners/abb.svg')).default, alt: 'ABB', url: 'https://global.abb/' },
	{ src: (await import('../assets/images/partners/vertiv.svg')).default, alt: 'Vertiv', url: 'https://www.vertiv.com/en-us/' },
	{ src: (await import('../assets/images/partners/Tehmont.svg')).default, alt: 'Tehmont', url: 'https://tehmont.eu/' },
	{ src: (await import('../assets/images/partners/ent.svg')).default, alt: 'ENT', url: 'https://ericssonnikolatesla.com/' },
	{ src: (await import('../assets/images/partners/reply.svg')).default, alt: 'Reply Comsysto', url: 'https://www.comsystoreply.de/en' },
	{ src: (await import('../assets/images/partners/apis.svg')).default, alt: 'Apis IT', url: 'https://www.apis-it.hr/' },
	{ src: (await import('../assets/images/partners/fina.svg')).default, alt: 'FINA', url: 'https://www.fina.hr/' },
	{ src: (await import('../assets/images/partners/dspace.svg')).default, alt: 'dSPACE', url: 'https://www.dspace.com/' },
	{ src: (await import('../assets/images/partners/point.svg')).default, alt: 'Point', url: 'https://www.point.hr/' },
	{ src: (await import('../assets/images/partners/infobip.svg')).default, alt: 'Infobip', url: 'https://www.infobip.com/' },
	{ src: (await import('../assets/images/partners/pontis.svg')).default, alt: 'Pontis', url: 'https://pontistechnology.com/' },
	{ src: (await import('../assets/images/partners/oiv.svg')).default, alt: 'OIV', url: 'https://oiv.hr/' },
	{ src: (await import('../assets/images/partners/Span.svg')).default, alt: 'Span', url: 'https://www.span.eu/hr/' },
	{ src: (await import('../assets/images/partners/KnezLjubo.svg')).default, alt: 'Knez Ljubo', url: 'https://www.knezljubo.hr/' },
	{ src: (await import('../assets/images/partners/libusoft.svg')).default, alt: 'LibusoftCicom', url: 'https://www.libusoftcicom.hr/' },
	{ src: (await import('../assets/images/partners/schneider.svg')).default, alt: 'Schneider Electric', url: 'https://www.se.com/hr/hr/' },
	{ src: (await import('../assets/images/partners/sdms.svg')).default, alt: 'SDMS', url: 'https://sdms.hr/' },
	{ src: (await import('../assets/images/partners/yazaki.svg')).default, alt: 'Yazaki', url: 'https://www.yazaki-europe.com/' },
	{ src: (await import('../assets/images/partners/all-eyes-on-screens.svg')).default, alt: 'All Eyes On Screens', url: 'https://alleyesonscreens.com/' },
	{ src: (await import('../assets/images/partners/hmv.svg')).default, alt: 'H&MV Engineering', url: 'https://www.hmvengineering.com/' },
	{ src: (await import('../assets/images/partners/intis.svg')).default, alt: 'Intis', url: 'https://www.intis.hr/' },
	{ src: (await import('../assets/images/partners/siemens.svg')).default, alt: 'Siemens', url: 'https://www.siemens.com/hr/hr.html' },
	{ src: (await import('../assets/images/partners/pedom.svg')).default, alt: 'Pedom Asfalti', url: 'https://pedom-asfalti.hr/' },
	{ src: (await import('../assets/images/partners/domusplus.svg')).default, alt: 'Domusplus', url: 'https://www.domusplus.hr/' },
	{ src: (await import('../assets/images/partners/hpb.svg')).default, alt: 'HPB', url: 'https://www.hpb.hr/' },
	{ src: (await import('../assets/images/partners/legrand.svg')).default, alt: 'Legrand', url: 'https://www.legrand.hr/' },
	{ src: (await import('../assets/images/partners/xylon.svg')).default, alt: 'Xylon', url: 'https://xylon-lab.com/' },
	{ src: (await import('../assets/images/partners/lth-castings.svg')).default, alt: 'LTH Castings', url: 'https://www.lthcastings.com/hr/domov' },
	{ src: (await import('../assets/images/partners/sick.svg')).default, alt: 'SICK', url: 'https://sickconnect.com/' },
	{ src: (await import('../assets/images/partners/pro-integris.svg')).default, alt: 'Pro Integris', url: 'https://www.prointegris.com/' },
	{ src: (await import('../assets/images/partners/colas.svg')).default, alt: 'Colas', url: 'https://www.colas.hr/' },
];
---

<section class="partners-container">
	<div class="partners-header reveal">
		<h2>Ovogodišnji partneri</h2>
		<p>Iza svakog logotipa krije se tim koji traži baš tebe. Iskoristi priliku i upoznaj ih!</p>
	</div>

	<div class="platinum-partners reveal-stagger">
		<a
			href="https://www.koncar.hr/en"
			target="_blank"
			rel="noopener"
		>
			<Image
				src={koncar}
				alt="KONČAR logo"
			/>
		</a>
		<a
			href="https://janaf.hr/"
			target="_blank"
			rel="noopener"
			class="janaf-logo"
		>
			<Image
				src={janaf}
				alt="JANAF logo"
			/>
		</a>
	</div>

	<div class="partners-grid reveal-stagger">
		{
			partners.map(({ src, alt, url }) => (
				<div class="partner-item">
					<a
						href={url}
						target="_blank"
						rel="noopener"
					>
						<Image
							src={src}
							alt={`${alt} logo`}
						/>
					</a>
				</div>
			))
		}
	</div>
	<!-- 
	<div class="bottom-section-partners reveal-stagger">
		<div class="partner-bottom">
			<h2>Strateški partneri:</h2>
			<a
				href="https://www.hup.hr/"
				target="_blank"
				rel="noopener"
			>
				<Image
					src={hup}
					alt="HUP logo"
				/>
			</a>
		</div>
		<div class="partner-bottom">
			<h2>Pod pokroviteljstvom:</h2>
			<a
				href="https://mzom.gov.hr/"
				target="_blank"
				rel="noopener"
			>
				<Image
					src={hrMinistrarstvo}
					alt="HR Ministarstvo logo"
				/>
			</a>
		</div>
	</div> -->
</section>
